nifi-datalake/validate-staging.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "263060a9-9bef-36f7-a1c3-fbf084a15c1e",
            "name" : "Failed",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "c8bfa285-6a36-34de-b16a-8cc20fabeaf5",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "fail" ],
          "source" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "1edcdb7f-81c9-349a-b513-6591cc2353e5",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "1edcdb7f-81c9-349a-b513-6591cc2353e5",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "c2a59d43-458d-3b64-8bab-25f29fb82fd9",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "40b3c597-7668-338a-ade6-5014ccc95e13",
            "name" : "ExtractValidationResult",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "09667709-3939-3164-a7fc-bbf062fac332",
            "name" : "PassedValidation",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "705a0a06-bfa8-3316-97e6-57f7090311c3",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "pass" ],
          "source" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "1edcdb7f-81c9-349a-b513-6591cc2353e5",
            "name" : "RouteOnAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "40b3c597-7668-338a-ade6-5014ccc95e13",
            "name" : "ExtractValidationResult",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "deecff99-a543-3c82-af1d-44bda0dbb3b6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "output stream" ],
          "source" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "46f42b1e-d917-3c95-9777-d857dc82c18e",
            "name" : "ValidatePeople",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "46f42b1e-d917-3c95-9777-d857dc82c18e",
            "name" : "ValidatePeople",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "f608d5a7-32f3-39bb-9209-3faf4cdbaeae",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
            "id" : "ab3f4f0e-49f5-3ebc-b661-9c3c7d57111f",
            "name" : "InputFromQueryStaging",
            "type" : "INPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
        "inputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "INPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "ab3f4f0e-49f5-3ebc-b661-9c3c7d57111f",
          "name" : "InputFromQueryStaging",
          "position" : {
            "x" : -424.0,
            "y" : -56.0
          },
          "type" : "INPUT_PORT"
        } ],
        "labels" : [ ],
        "name" : "ValidateStaging",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "09667709-3939-3164-a7fc-bbf062fac332",
          "name" : "PassedValidation",
          "position" : {
            "x" : -32.0,
            "y" : 40.0
          },
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : -224.0,
          "y" : 752.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "1edcdb7f-81c9-349a-b513-6591cc2353e5",
          "name" : "RouteOnAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 152.0,
            "y" : 352.0
          },
          "properties" : {
            "fail" : "${result:startsWith('fail')}",
            "Routing Strategy" : "Route to Property name",
            "pass" : "${result:startsWith('pass')}"
          },
          "propertyDescriptors" : {
            "fail" : {
              "displayName" : "fail",
              "identifiesControllerService" : false,
              "name" : "fail",
              "sensitive" : false
            },
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "pass" : {
              "displayName" : "pass",
              "identifiesControllerService" : false,
              "name" : "pass",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "263060a9-9bef-36f7-a1c3-fbf084a15c1e",
          "name" : "Failed",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 392.0,
            "y" : -40.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "../data-engineering-with-python/nifi-files",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "40b3c597-7668-338a-ade6-5014ccc95e13",
          "name" : "ExtractValidationResult",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -480.0,
            "y" : 352.0
          },
          "properties" : {
            "result" : "$.result",
            "Destination" : "flowfile-attribute",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "result" : {
              "displayName" : "result",
              "identifiesControllerService" : false,
              "name" : "result",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "nonzero status" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d64824c1-e8b4-3b12-8ac6-7b571482b655",
          "identifier" : "46f42b1e-d917-3c95-9777-d857dc82c18e",
          "name" : "ValidatePeople",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -480.0,
            "y" : 80.0
          },
          "properties" : {
            "argumentsStrategy" : "Command Arguments Property",
            "Max Attribute Length" : "256",
            "Command Path" : "/bin/bash",
            "Working Directory" : "/home/jeancarlo/data-engineering-with-python",
            "Argument Delimiter" : ";",
            "Ignore STDIN" : "false",
            "Command Arguments" : "./nifi-scripts/staging-validation"
          },
          "propertyDescriptors" : {
            "argumentsStrategy" : {
              "displayName" : "Command Arguments Strategy",
              "identifiesControllerService" : false,
              "name" : "argumentsStrategy",
              "sensitive" : false
            },
            "Max Attribute Length" : {
              "displayName" : "Max Attribute Length",
              "identifiesControllerService" : false,
              "name" : "Max Attribute Length",
              "sensitive" : false
            },
            "Command Path" : {
              "displayName" : "Command Path",
              "identifiesControllerService" : false,
              "name" : "Command Path",
              "sensitive" : false
            },
            "Working Directory" : {
              "displayName" : "Working Directory",
              "identifiesControllerService" : false,
              "name" : "Working Directory",
              "sensitive" : false
            },
            "Output Destination Attribute" : {
              "displayName" : "Output Destination Attribute",
              "identifiesControllerService" : false,
              "name" : "Output Destination Attribute",
              "sensitive" : false
            },
            "Argument Delimiter" : {
              "displayName" : "Argument Delimiter",
              "identifiesControllerService" : false,
              "name" : "Argument Delimiter",
              "sensitive" : false
            },
            "Ignore STDIN" : {
              "displayName" : "Ignore STDIN",
              "identifiesControllerService" : false,
              "name" : "Ignore STDIN",
              "sensitive" : false
            },
            "Command Arguments" : {
              "displayName" : "Command Arguments",
              "identifiesControllerService" : false,
              "name" : "Command Arguments",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteStreamCommand",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}